@keyframes fadeOut{
  0%		{opacity:1;}
  100%	{opacity:0;}
}
@keyframes fadeIn{
  0%		{opacity:0;}
  100%	{opacity:1;}
}
.fadeOut{
  animation-name: fadeOut;
  animation-duration: 0.25s;
}
.fadeIn{
  animation-name: fadeIn;
  animation-duration: 0.25s;
}
body {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  margin: 0;
}

#main {
  display: grid;
  position: fixed;
  height: 100%;
  width: 100%;
}

#main > * {
  align-self: center;
  justify-self: center;
  max-width: 80%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

a {
  line-break: anywhere;
}

#error {
  color: red;
}


#repo {
  color: white;
  font-weight: bold;
  -webkit-text-stroke: 0.03em black;
  position: fixed;
  z-index: 1000000000;
  background-color: #0008;
  padding: 0.1em 0 0 0.5em;
  right: 0;
}
